html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Sora', sans-serif;
}

* {
    -webkit-user-select: none !important;
    user-select: none !important;
    -webkit-user-drag: none !important;
}

i {
    font-size: 18pt;
    font-weight: 200;
}

body {
    background-image: url(/img/20221123_165820487_iOS.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
    z-index: 2;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

body::before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #49494970;
    z-index: 2;
}

.divider {
    position: relative;
    height: 1px;
    width: 80%;
    background-color: #fff5;
}

a {
    color: inherit;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    position: relative;
    /* background-image: linear-gradient(199deg, rgb(0, 70, 120) 0%, rgb(118, 0, 120) 100%); */
    /* background: rgba(139, 139, 139, 0.067);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur( 3px );
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: cover;
    border: 1px solid #fff2;
    border-radius: 20px;
    box-shadow: 0 0 50px 0px rgb(48, 48, 48); */
    width: 43%;
    z-index: 3;
    color: #fff;
    text-align: right;
    background: rgb(127 0 143 / 5%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#title {
    margin: 10px 0 0 0;
    line-height: 1;
    width: 80%;
    font-weight: 400;
}

#description {
    width: 80%;
    margin: 10px;
    font-weight: 200;
}

.main-links {
    height: 100%;
    width: 80%;
    padding: .5rem;
    list-style-type: none;
    margin-bottom: 0;
}

.social-wide {
    border: 1.5px solid #fff5;
    border-radius: 20px;
    margin: 15px 0;
    margin-bottom: -5px;
    padding: .5rem;
    padding-right: 15px;
    text-align: left;
    text-indent: 10px;
    font-size: 10pt;
    letter-spacing: 2pt;
    cursor: pointer;
    align-items: center;
    transition: ease-in .1s;
}

.social-wide:hover {
    transition: ease-in .1s;
}

.button-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 5px;
    width: 80%;
    flex-wrap: wrap;
}

.social-button {
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid #fff5;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
    transition: ease-in .1s;
}

.social-button:hover {
    transition: ease-in .1s;
}

.telegram:hover {
    background:#0088cc;
}

.github:hover {
    background:#171515;
}

@property --myColor1 {
    syntax: '<color>';
    initial-value: #fff0;
    inherits: false;
}

@property --myColor2 {
    syntax: '<color>';
    initial-value: #fff0;
    inherits: false;
}  

@property --myColor3 {
    syntax: '<color>';
    initial-value: #fff0;
    inherits: false;
} 

@property --myColor4 {
    syntax: '<color>';
    initial-value: #fff0;
    inherits: false;
} 

@property --myColor5 {
    syntax: '<color>';
    initial-value: #fff0;
    inherits: false;
} 

.instagram {
    background: radial-gradient(circle at 30% 107%, var(--myColor1) 0%, var(--myColor2) 5%, var(--myColor3) 45%, var(--myColor4) 60%, var(--myColor5) 90%);
    transition: --myColor1 .2s, --myColor2 .2s, --myColor3 .2s, --myColor4 .2s, --myColor5 .2s;
}

.instagram:hover {
    --myColor1: #fdf497c6;
    --myColor2: #fdf497c6;
    --myColor3: #fd5849c6;
    --myColor4: #d6249ec6;
    --myColor5: #2859ebc6;
    transition: --myColor1 .2s, --myColor2 .2s, --myColor3 .2s, --myColor4 .2s, --myColor5 .2s;
}

.facebook:hover {
    background:#0866ff;
}

.outlook:hover {
    background:#ed009a;
}

.twitter:hover {
    background:#00acee;
}

.spotify:hover {
    background: #1bc558;
}

.reddit:hover {
    background:#ff4500;
}

.linkedin:hover {
    background: #0075b4;
}

.youtube:hover {
    background:#FF0000;
}

.outro {
    font-style: italic;
    width: 80%;
    text-align: right;
    color: #fff9;
    font-weight: 200;
}

@media screen and (max-width: 700px) {
    main {
        width: 55%;
        text-align: center;
    }

    .outro {
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    main {
        width: 80%;
    }
}

#particles-js {
    height: 100% !important;
    width: 100% !important;
    position: absolute !important;
}